.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: rgba(0,0,0, 0.4);
}

.modal-wrapper {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 560px;
    background: repeating-linear-gradient(
        135deg,
        #fff,
        #fff 26px,
        #68C9BA 26px,
        #68C9BA 36px
    );
    border-radius: 50px;
}

.form-wrapper {
    position: fixed;
    left: 30px;
    top: 30px;
    bottom: 30px;
    right: 30px;
    background-color: #fff;
    border-radius: 50px;
    padding-top: 33px;
}

.modal-form {
    display: flex;
    padding: 35px;
}

.modal-heading {
    margin-bottom: 33px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 65%;
    color: #212353;
}

.modal-left-column,
.modal-right-column {
    width: 476px;
}

.modal-left-column {
    margin-right: 40px;
}

.modal-right-column {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.modal-right-column .modal-form-input {
    width: 100%;
    margin-bottom: 31px;
}

.form-button {
    outline: none;
    width: 170px;
    height: 60px;
    background: #9C69E2;
    border: none;
    border-radius: 50px;
    font-family: sans-serif;
    font-weight: 800;
    color: #fff;
}

.label {
    display: block;
    font-family: sans-serif;
}

.input {
    border: none;
    border-bottom: 1px solid #9C69E2;
    opacity: 0.2;
    width: 100%;
    margin-bottom: 44px;
    outline: none;
}

textarea {
    outline: none;
    border: none;
    border-bottom: 1px solid #9C69E2;
    opacity: 0.2;
    width: 100%;
    height: 217px;
}

.is-active-modal {
    display: block;
}

.wrapper {
    display: flex;
    max-width: 1120px;
    margin: 0 auto;
}

@media screen and (min-width: 375px) and (max-width: 800px) {
    .wrapper {
        padding: 20px;
        width: 100%;
    }

    .header-wrapper {
        justify-content: space-between;
        padding-bottom: 16px;
    }
}

.header {
    display: flex;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    margin-right: 121px;
} 

.logo-part1,
.logo-part2 {
    width: 20px;
    border-radius: 20px;
}

.logo-part1 {
    margin-right: 9px;
    margin-top: 17px;
    height: 20px;
    background-color: #9C69E2;
}

.logo-part2 {
    height: 35px;
    background-color: #f063b8
}


@media screen and (min-width: 375px) and (max-width: 800px) {
    .logo-part1 {
        width: 11px;
        height: 11px;
        margin-right: 5px;
        margin-top: 9px;
    }

    .logo-part2 {
        width: 11px;
        height: 20px;
    }
}

.header-navigation {
    display: flex;
    align-items: center;
    margin-right: 358px;
}

.header-navigation-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-navigation-menu {
    display: flex;    
}

@media screen and (min-width: 375px) and (max-width: 800px) {
    .header-navigation-menu {
        display: none;
    }

    .header-navigation {
        margin-right: 0;
    }
}

.header-navigation-item {
    margin-right: 40px;
}

.header-navigation-link {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
    text-decoration: none;
}

.header-navigation-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.header-navigation-item:first-child .header-navigation-link {
    font-weight: 800;
}

.search-icon {
    width: 20px;
    height: 20px;
}

@media screen and (min-width: 375px) and (max-width: 800px) {
    .search-icon {
        margin-right: 28px;
    }
}

.request-demo-button {
    position: relative;
    width: 210px;
    height: 60px;
    outline: none;
    border: none;
    padding: 17px 70px 17px 29px;
    font-family: sans-serif;
    background-color: #fff;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
}

.request-demo-button:hover {
    cursor: pointer;
}

.request-demo-button::after {
    position: absolute;
    content: url('../assets/arrow.svg');
    right: 40px;
    top: 20px;
} 

@media screen and (min-width: 375px) and (max-width: 800px) {
    .request-demo-button {
        display: none;
    }
}

@media screen and (min-width: 375px) and (max-width: 800px) {
    .burger {
        display: block;
        position: relative;
        border-bottom: 2px solid #9C69E2;
        width: 20px;
    }

    .burger:after,
    .burger:before {
        position: absolute;
        content: '';
        height: 2px;
        border-bottom: 2px solid #9C69E2;
        width: 20px;
    }

    .burger:before {
        top: -7px;
    }

    .burger:after {
        top: 7px;
    }
}

.main {
    padding-top: 50px;
}

.slider {
    margin-bottom: 125px;
}

@media screen and (min-width: 375px) and (max-width: 800px) {
    .slider {
        display: none;
    }
}

.slide-item {
    background: url("../assets/building.jpg") no-repeat center center;
    background-size: cover;
    min-height: 560px;
    border-radius: 50px;
    padding-top: 80px;
    padding-left: 104px;
}

.slide-heading {
    width: 645px;
    margin-bottom: 18px;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 72px;
    line-height: 79px;
    color: #212353;
}

.slide-description {
    margin-bottom: 18px;
    width: 380px;
    color: #4B5D68;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 28px;
}

.slide-button {
    height: 60px;
    width: 170px;
    padding: 16px 37px;
    background: #9C69E2;
    border-radius: 50px;
    border: none;
    outline: none;
    color: #fff;
}

.slide-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.splide__arrow {
    display: none;
}

.splide__pagination {
    bottom: -30px;
}

.splide__pagination .is-active {
    background-color: #9C69E2;
}

.feat-wrapper {
    flex-direction: column;
}

.features-heading {
    text-align: center;
    font-family: sans-serif;
    width: 405px;
    font-size: 40px;
    margin: 0 auto 26px;
}

.features-description {
    text-align: center;
    font-family: sans-serif;
    width: 504px;
    font-size: 18px;
    margin: 0 auto 38px; 
}

@media screen and (min-width: 375px) and (max-width: 800px) {
    .features-heading,
    .features-description {
        margin: 0;
        text-align: left;
        max-width: 335px;
    }

    .features-heading {
        margin-bottom: 10px;
    }

    .features-description {
        margin-bottom: 101px;
    }
}

.features-wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 83px;
}

.features-block{
    position: relative;
    display: flex;
    align-items: center;
    width: 45%;
    margin-right: 50px;
    height: 358px;
}

@media screen and (min-width: 375px) and (max-width: 800px) {
    .feat-wrapper {
        padding-bottom: 48px;
    }

    .features-block {
        width: 100%;
        height: 392px;
        flex-flow: column;
        align-items: flex-start;
        margin-right: 0;
        padding-left: 40px;
        background: url('../assets/bg-small-search-data.svg') no-repeat center center; 
    }
}

@media screen and (min-width: 375px) and (max-width: 800px) {
    .features-image {
        width: 175px;
        margin-left: 45px;
        margin-top: -60px;
    }

    .features-bg {
        display: none;
    }

    .features-bg::after {
        content: url(../assets/small-search-data.svg);
    }
}

.features-block-heading {
    font-family: sans-serif;
    color: #212353;
    font-size: 24px;
    margin-bottom: 20px;
}

.features-block-description {
    font-size: 16px;
    line-height: 160%;
    width: 220px;
    color: #4B5D68;
    margin-bottom: 20px;
}

.features-button {
    outline: none;
    border: none;
    background-color: transparent;
    position: relative;
}

.features-button::after {
    position: absolute;
    content: url('../assets/arrow.svg');
    top: 4px;
    right: -35px;
}

.features-button:hover {
    cursor: pointer;
    text-decoration: underline;
}


.features-bg-block {
    position: absolute;
    left: 80px;
    z-index: -1;
}

.search-data::after {
    content: url('../assets/search-data-big-elipse.svg');
    position: absolute;
    right: 12px;
    top: 20px;
}

.search-data::before {
    content: url('../assets/search-data-small-elipse.svg');
    position: absolute;
    right: 120px;
    top: 44px;
}

.security-code::after {
    content: url('../assets/security-code-big-elipse.svg');
    position: absolute;
    right: 71px;
    top: 20px;
    z-index: -1;
}

.security-code::before {
    content: url('../assets/security-code-small-elipse.svg');
    position: absolute;
    right: 16px;
    bottom: 35px;
}

.print-out::before {
    content: url('../assets/print-out-small-elipse.svg');
    position: absolute;
    right: 16px;
    top: 23px;
}

.hours-access::before {
    content: url('../assets/hours-access-big-elipse.svg');
    position: absolute;
    right: 16px;
    bottom: 12px;
}

.try {
    position: relative;
}

.line {
    position: absolute;
    top: 131px;
    border: 1px solid #9C69E2;
    width: calc(100vw - 15px);
    height: 2px;
}

@media screen and (min-width: 375px) and (max-width: 800px) {
    .try {
        display: none;
    }

    .line {
        display: none;
    }
}

.try-wrapper {
    justify-content: space-between;
    align-items: center;
    padding-top: 231px;
}

.try-heading {
    font-weight: 800;
    font-size: 40px;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.try-description {
    font-weight: 500;
    font-size: 18px;
    font-family: sans-serif;
}

.try-learn-more {
    margin-right: 30px;
}

@media screen and (min-width: 375px) and (max-width: 800px) {
    .footer {
        background-color: #f1eefb;
    }
}

.footer-wrapper {
    justify-content: space-between;
    padding-top: 153px;
}

.logo-line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 65px;
}

.footer-logo-wrapper {
    margin-right: 20px;
}

.logo-name {
    font-family: sans-serif;
    font-weight: 800;
}

.logo-address {
    margin-bottom: 10px;
    line-height: 29px;
    font-family: sans-serif;
}

.logo-email {
    line-height: 29px;
    font-family: sans-serif;
}

.column-heading {
    font-weight: 800;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.about-menu,
.help-menu {
    list-style: none;
}

.about-menu-item,
.help-menu-item {
    padding: 10px 0;
}

.about-menu-link,
.help-menu-link {
    text-decoration: none;
    color: #212353;
    font-family: sans-serif;
}

.social-icons {
    display: flex;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 14px;
    background: #212353;
    opacity: 0.15;
}

.icon:hover {
    cursor: pointer;
}

.facebook {
    background-image: url('../assets/facebook.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.twitter {
    background-image: url('../assets/twitter.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.instagram {
    background-image: url('../assets/instagram.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

@media screen and (min-width: 375px) and (max-width: 800px) {
    .footer-wrapper {
        flex-flow: column;
        padding-top: 32px;
    }

    .logo-line {
        display: none;
    }

    .column-help,
    .column-about {
        display: none;
    }

    .column-heading {
        display: none;
    }

    .logo-address {
        text-align: center;
        margin-bottom: 10px;
    }

    .logo-email {
        text-align: center;
        margin-bottom: 24px;
    }

    .social-icons {
        justify-content: center;
    }
}